/* styles.css */
body {
    background-image: url('Background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    background-color: white;
}

h, td {
    padding: 10px;
    margin: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
